<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.amblelogistic.Mapper.RoleMapper">
  <resultMap id="BaseResultMap" type="com.amblelogistic.Model.Role">
    <id column="ROLE_ID" jdbcType="VARCHAR" property="roleId" />
    <result column="ROLE_NAME" jdbcType="VARCHAR" property="roleName" />
    <result column="DESCRIPTION" jdbcType="VARCHAR" property="description" />
  </resultMap>
  <sql id="Base_Column_List">
    ROLE_ID, ROLE_NAME, DESCRIPTION
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from role
    where ROLE_ID = #{roleId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from role
    where ROLE_ID = #{roleId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.amblelogistic.Model.Role">
    insert into role (ROLE_ID, ROLE_NAME, DESCRIPTION
      )
    values (#{roleId,jdbcType=VARCHAR}, #{roleName,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.amblelogistic.Model.Role">
    insert into role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="roleId != null">
        ROLE_ID,
      </if>
      <if test="roleName != null">
        ROLE_NAME,
      </if>
      <if test="description != null">
        DESCRIPTION,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="roleId != null">
        #{roleId,jdbcType=VARCHAR},
      </if>
      <if test="roleName != null">
        #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.amblelogistic.Model.Role">
    update role
    <set>
      <if test="roleName != null">
        ROLE_NAME = #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        DESCRIPTION = #{description,jdbcType=VARCHAR},
      </if>
    </set>
    where ROLE_ID = #{roleId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.amblelogistic.Model.Role">
    update role
    set ROLE_NAME = #{roleName,jdbcType=VARCHAR},
      DESCRIPTION = #{description,jdbcType=VARCHAR}
    where ROLE_ID = #{roleId,jdbcType=VARCHAR}
  </update>

  <!-- 查询条件 -->
  <sql id="Example_Where_Clause">
    where 1=1
    <trim  suffixOverrides="," >
      <if test="roleId != null and roleId != ''" >
        and a.ROLE_ID like CONCAT(CONCAT('%', #{roleId}),'%')
      </if>
      <if test="roleName != null and roleName != ''" >
        and a.ROLE_NAME like CONCAT(CONCAT('%', #{roleName}),'%')
      </if>
      <if test="description != null and description != ''" >
        and a.DESCRIPTION like CONCAT(CONCAT('%', #{description}),'%')
      </if>
    </trim>
  </sql>

  <select id="queryByCount" resultType="java.lang.Integer"  parameterType="Object">
    select count(1) from role a
    <include refid="Example_Where_Clause"/>
    and a.IS_DELETE = 0
  </select>

  <select id="queryList" resultMap="BaseResultMap"  parameterType="Object">
    select *
    from role a
    <include refid="Example_Where_Clause"/>
    and a.IS_DELETE = 0
    order by a.ROLE_ID desc
    <if test="pageSize != null and pageSize != ''" >
      limit #{pageSize}
    </if>
    <if test="pageOffset != null and pageOffset != ''" >
      offset #{pageOffset}
    </if>
  </select>
</mapper>